﻿@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <article>
                <br /><br /><br />
                <p>
                    The Hangout App aims to help you plan a day's worth of activites and events
                    easily and casually. You can use it to create a rigid schedule for a day jam-packed
                    with activities in the city, or leisurely add things to do that may or may not be
                    done on an impromptu trip to the beach.
                </p>
                <br />
                <h2>
                    The more the merrier!
                </h2>
                <p>
                    Feel free to use the app for a solo trip into town or a relaxing couple's day, but
                    our app is built to be as inclusive as possible! Easily invite friends to events and
                    allow them to help collaborate and plan for activites and event times and vote on suggestions.
                    Help spread the burden of planning group outings, responsibility for everyone!
                </p>
            </article>
        </div>
    </section>
}