﻿@model HangoutApp.Models.DisplayEvent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Add Event";
}

<style>
    input.tall-control {
        height: 200px;
        align-content: space-between;
    }

    input.small-control {
        width: 150px;
    }

    tr {
        padding: 10px;
    }
    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

</style>

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<style>
    
</style>

<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <div style="color:red">@TempData["AddEventmessage"]</div>
        </hgroup>
        <form action='@Url.Action("AddNewEvent", "Home")' method="post">
            <div class="column" style="width: 700px; float:left">
                <br /><br /><br />
                <table>
                    <tr>
                        <td>
                            Event Name:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.eventModel.Name, new { @required = "required" })
                            @*<input id="txtEName" type="text" />*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Enter Friend's Emails (separate emails w/ comma):
                        </td>
                        @*allow up to 10 friends to be entered into email at one time*@
                        <td>
                            @Html.TextBoxFor(m => m.eventModel.Attendees[0].Email)
                        </td>
                        @*for(var i = 1;i<10;i++){
                        <td>
                            @Html.TextBoxFor(m => m.Attendees[i].Email)
                           @* <textarea id="txtFriends" rows="3" cols="20" class="tall-control"></textarea>
                        </td>
                    }*@
                    </tr>
                </table>
                <table>
                    <tr>
                        <td></td>
                    </tr>
                    <tr></tr>
                </table>
                <table>
                    <tr>
                        <td>Enter a location:</td>
                        <td>@Html.TextBoxFor(m => m.eventModel.Location)</td>
                    </tr>
                    <tr>
                        <td>Enter a date:</td>
                        <td>@Html.TextBoxFor(m => m.eventModel.Date, new { @type = "date" })</td>
                    </tr>
                    <tr>
                        <td>Time of the event:</td>
                        <td>@Html.TextBoxFor(m => m.eventModel.Time, new { @class = "small-control", @type = "time" })</td>
                    </tr>
                    <tr>
                        <td>Event Description:</td>
                        <td>@Html.TextAreaFor(m => m.eventModel.Description, new { @class = "tall-control", @cols = "20", @rows = "3" })</td>
                    </tr>
                    @{ List<HangoutApp.Models.User> prevFriends = (List<HangoutApp.Models.User>)System.Web.HttpContext.Current.Session["userList"];}
                    @if (prevFriends != null && prevFriends.Count > 0)
                    {
                        <tr>
                            <td>Invited friends from past event: </td>
                            <td>
                                <ol>
                                    @for (int us = 0; us < prevFriends.Count; us++)
                                    {
                                        <li>
                                            @prevFriends[us].Email
                                        </li>
                                    }
                                </ol>
                            </td>
                        </tr>
                    }
                </table>
                <table>
                    <tr>
                        <td>
                            <input id="btnSubmit" type="submit" name="submitBtn" value="Submit" />
                        </td>
                        <td>
                            <input id="btnCancel" type="submit" name="submitBtn" value="Cancel" />
                        </td>
                    </tr>
                </table>
                @*  </form>*@
                <br />
                <input id="btnActivity" type="button" value="Add Activity" data-toggle="modal" data-target="#myModal" />
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @Html.Partial("~/Views/Home/SuggestActivity2.cshtml", Model)
                        </div>
                    </div>
                </div>
                <br /><br />
                <input id="brnPrev" type="button" value="Invite Friends from a Previous Event" data-toggle="modal" data-target="#prevModal" />
                <!-- Modal-->
                <div class="modal fade" id="prevModal" tabindex="-1" role="dialog" aria-labelledby="prevModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @Html.Partial("PastFriends", Model)
                        </div>
                    </div>
                </div>
                <br />
                </div>
</form>
    </div>
    <script>
        var pMap, eGeocoder, searchBox;
        function initialize() {
            var eLoc;
            var eAdd = @Html.Raw(Json.Encode(Model.eventModel.Location));
             if(eAdd=="" || eAdd=="test" || eAdd==null){
                 eAdd="Fullerton, CA 92831";
             }
             eGeocoder = new google.maps.Geocoder();
            //find location of event
             eGeocoder.geocode({ 'address': eAdd }, function (results, status) {
                 console.log(results[0].geometry.location.latitude);
                 var lat = results[0].geometry.location.latitude
                 var long = results[0].geometry.location.longitude;
                 if (status == 'OK') {
                     eLoc = {lat: lat, lng: long};
                 } else {
                     eLoc = { lat: 33.882, lng: -117.886 };
                 }
             });
             if (eLoc == null) {
                 eLoc = { lat: 33.882, lng: -117.886 };
             }
             pMap = new google.maps.Map(document.getElementById('placeMap'), {
                 center: eLoc,
                 zoom: 13,
                 mapTypeId: 'roadmap'
             });
            // Create the search box and link it to the UI element.
             var input = document.getElementById('pac-input');
             searchBox = new google.maps.places.SearchBox(input);
             pMap.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
            
            // Bias the SearchBox results towards current map's viewport.
             pMap.addListener('bounds_changed', function () {
                 searchBox.setBounds(pMap.getBounds());
             });
             var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
             searchBox.addListener('places_changed', function () {
                 var places = searchBox.getPlaces();
               
                 if (places.length == 0) {
                     return;
                 }

                 // Clear out the old markers.
                 markers.forEach(function (marker) {
                     marker.setMap(null);
                 });
                 markers = [];

                 // For each place, get the icon, name and location.
                 var pBounds = new google.maps.LatLngBounds();
                 places.forEach(function (place) {
                     if (!place.geometry) {
                         console.log("Returned place contains no geometry");
                         return;
                     }
                     var icon = {
                         url: place.icon,
                         size: new google.maps.Size(71, 71),
                         origin: new google.maps.Point(0, 0),
                         anchor: new google.maps.Point(17, 34),
                         scaledSize: new google.maps.Size(25, 25)
                     };

                     // Create a marker for each place.
                     markers.push(new google.maps.Marker({
                         map: pMap,
                         icon: icon,
                         title: place.name,
                         position: place.geometry.location
                     }));

                     if (place.geometry.viewport) {
                         // Only geocodes have viewport.
                         pBounds.union(place.geometry.viewport);
                     } else {
                         pBounds.extend(place.geometry.location);
                     }
                 });
                 pMap.fitBounds(pBounds);
             });
            
             
        }
       
        function deleteMarkers(markersArray) {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray = [];
        }
        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }
        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: pMap,
                position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(pMap, this);
            });
        }
        $(document).ready(function () {
            $("#myModal").on('shown.bs.modal', function () {
                google.maps.event.trigger(pMap, 'resize');
                //remove all required attributes in form
                $("#eventModel_Name").removeAttr("required");
                $("#activityModel_Name").prop("required", true);
            });
            $("#prevModal").on('shown.bs.modal', function(){
                $("#eventModel_Name").removeAttr("required");
            });
            $("#myModal").on('hidden.bs.modal', function(){
                $("#eventModel_Name").prop("required", true);
                $("#activityModel_Name").removeAttr("required");
            });
            $("#prevModal").on('hidden.bs.modal', function(){
                $("#eventModel_Name").prop("required", true);
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRcZD4SHCodZFgWVX5M7PHPRXFJc8nemU&libraries=places&callback=initialize"></script>
</section>
