﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{int count = Model.userModels.Count;}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Invite A Friend</h4>
</div>
<hr />


@if (Model.eventModel.Attendees.Count <= 20)
{
    <form action='@Url.Action("AddFriends", "Home")' method="post">
        <div class="modal-body">
            @Html.HiddenFor(model => model.eventModel.eventID)
            @if (count > 0)
                {
                for (int i = 0; i < count; i++)
                    {
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.userModels[i].Email)
                        @Html.EditorFor(model => model.eventModel.eventID)
                    </div>
                        <table>
                            <tr>
                                <td>
                                    Email: @Html.DisplayFor(model => model.userModels[i].Email)
                                </td>
                                @if (Model.userModels[i].FirstName != "")
                                {
                                    <td>
                                        Name: @Html.DisplayFor(model => model.userModels[i].FirstName)
                                        @Html.DisplayFor(model => model.userModels[i].LastName)
                                    </td>
                                }
                                <td>
                                    @Html.CheckBoxFor(model => model.userModels[i].selected)
                                </td>
                            </tr>

                        </table>
                }
            }
            else
            {
                <div class="modal-body">
                    <p>
                        You do not have any friends from previous events.
                    </p>
                </div>
                    <div class="modal-footer">
                    </div>

            }
            <table>
                <tr>
                    <td>
                        Emails: @Html.TextBoxFor(m => m.emails)
                    </td>
                </tr>
            </table>
            

        </div>

        <div class="modal-footer">
            <button class="btn btn-inverse" type="submit">Submit</button>
            <button class="btn btn-inverse" type="submit" data-dismiss="modal">Cancel</button>
        </div>
    </form>
}
else
{
    <p>
        You currently have already 20 friends invited to this event.
    </p>
}

