﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
}



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Suggest an Activity</h4>
</div>
<hr />
<div class="modal-body">
    <div hidden="hidden">
        @Html.EditorForModel()
        @Html.EditorFor(model => model.eventModel.eventID)
        @Html.EditorFor(model => model.eventModel.Date)
        @Html.EditorFor(model => model.eventModel.Description)
        @Html.EditorFor(model => model.eventModel.Name)
        @Html.EditorFor(model => model.eventModel.Time)
        @Html.EditorFor(model => model.eventModel.adminID)
        @Html.EditorFor(model => model.eventModel.Location)
    </div>
    <div style="color:red">
        <p>
            Warning: Canceling an event is final.
        </p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-inverse" name="finalizeBtn" type="submit" value="CancelEvent">Submit</button>
</div>


