@model IEnumerable<HangoutApp.Models.Event>
@{
    ViewBag.Title = "Dashboard";
}
<style>
    button:hover {
        background-color:#7ac0da;
        color:gray;
    }
</style>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <div style="color:red">@TempData["message"]</div>

            <div class="column" style="width: 150px; float:left">
                <br /><br /><br />
               @* <p>
                    @Html.ActionLink("Event Invites","GetEventInvites")
                </p>
                <p>

                    @Html.ActionLink("Get My Events", "MyEvents")
                </p>*@
                <p>

                    @Html.ActionLink("Edit Account","EditAccount")
                </p>
            </div>
            <div class="column" style="width: 700px; float:left; padding: 30px">
                <br />
                <h2>Events</h2>
                <div>
                    <br />
                    @foreach (var m in Model)
                    {
                        if (String.IsNullOrEmpty(m.Date) || m.Date.Any(x => char.IsLetter(x)))
                        {
                            m.Date = System.DateTime.Today.ToString();
                        }
                        if (Convert.ToDateTime(m.Date) >= System.DateTime.Today )
                        {
                            <div class="column" style="width: 350px; float:left">
                                <br />
                                <button onclick="location.href='@Url.Action("Event")' + '?eventID=' + @m.eventID" style="height: 100px; width: 225px">
                                    @m.Name<br />Date: @m.Date<br />at @m.Time
                                </button>
                            </div>
                        }else{
                        }
                    }
                </div>
                <div class="column" style="width: 350px; float:left">
                    <br />
                    <input style="height: 100px; width: 225px; background-color: white" type="button" 
                        value="Create New Event" onclick="location.href='@Url.Action("AddEvent", "Home")    '" />
                    <br />
                </div>
                <div class="column" style="width: 700px; float:left">
                    <br />
                    <hr style="color:gainsboro; height:5px" />
                    <h2>Past Events</h2>
                    <div>
                        <br />                        
                        @foreach (var m in Model)
                        {
                            if (System.DateTime.Parse(m.Date) < System.DateTime.Today )
                            {
                                <div class="column" style="width: 350px; float:left">
                                    <br />
                                    <button onclick="location.href='@Url.Action("Event", m)'" style="height: 100px; width: 225px">
                                        @m.Name<br />Date: @m.Date<br />at @m.Time
                                    </button>
                                </div>
                            }else{
                            }
                        }
                        <br />
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>

}