﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{bool admin = false;}
@{HangoutApp.Models.User user = new HangoutApp.Models.User(); }
@{int userID = user.getID(User.Identity.Name);}
@{admin = Model.eventModel.adminID == userID ? true : false; }


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblDeleteAct">Delete Activities</h4>
</div>
<hr />
<div class="modal-body">
    <form action='@Url.Action("DeleteActivity", "Home")' method="post">
        <div hidden="hidden">
            @Html.EditorForModel()
            @Html.EditorFor(model => model.eventModel.eventID)
        </div>
        <table>
            @for (int i = 0; i < Model.eventModel.Activities.Count; i++)
            {
                if (admin || Model.eventModel.Activities[i].userID == userID)
                {
                    <tr>
                        <td>
                            <div hidden="hidden">
                                @Html.EditorFor(model => model.eventModel.Activities[i].activityID)
                                @Html.EditorFor(model => model.eventModel.Activities[i].userID)
                                @Html.EditorFor(model => model.eventModel.Activities[i].Name)
                                @Html.EditorFor(model => model.eventModel.Activities[i].Description)
                                @Html.EditorFor(model => model.eventModel.Activities[i].Location)
                            </div>
                            @Html.DisplayFor(model => model.eventModel.Activities[i].Name)
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.CheckBoxFor(model => model.eventModel.Activities[i].selected)
                        </td>
                    </tr>

                }
            }
        </table>
        <div style="color:red">
            <p>
               Warning: once you delete an activity, it will be removed forever.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" type="submit">Submit</button>
        </div>
    </form>
</div>
