﻿﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{HangoutApp.Models.User user = new HangoutApp.Models.User(); }
@{int userID = user.getID(User.Identity.Name);}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Remove Friends</h4>
</div>
<hr />

@if (Model.eventModel.Attendees.Count >= 0)
{
    <form action='@Url.Action("DeleteUser", "Home")' method="post">
        @Html.HiddenFor(model => model.eventModel.eventID)
        <div class="modal-body">
            <table>
                @for (int i = 0; i < Model.eventModel.Attendees.Count; i++)
                {
                    @Html.HiddenFor(model => model.eventModel.Attendees[i].Email)

                   
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.eventModel.Attendees[i].Email)
                            </td>
                            @if (Model.eventModel.adminID != Model.eventModel.Attendees[i].getID(Model.eventModel.Attendees[i].Email))
                            {
                            <td>
                                @Html.CheckBoxFor(model => model.eventModel.Attendees[i].selected)
                            </td>
                            }
                        </tr>

                }
            </table>
            <div style="color:red">
                <p>
                    Warning: Once you remove a user, you cannot invite them back.
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" type="submit">Submit</button>
            <button type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </form>
}
else
{
    <div class="modal-body">

        <table>
            <tr>
                <td>
                    <p>
                        You have not added any friends yet
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
}



