﻿@model HangoutApp.Models.User
@{
    ViewBag.Title = "Edit Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div style="color:red">
    @TempData["message"]
</div>

<form action='@Url.Action("SubmitChanges", "Home")' method="post">
    <table style="border:none">
        
        <tr>
            <td><b>Old Email: </b><span style="color:red">*</span></td>
            <td>@Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "Email: name@domain.com", @required = "required" })</td>
        </tr>
        <tr>
            <td><b>New Email:</b></td>
            <td>@Html.TextBoxFor(m => m.NewEmail, new {type="email", placeholder = "Email: name@domain.com"})</td>
        </tr>
        <tr>
            <td><b>Current Password: </b><span style="color:red">*</span></td>
            <td>@Html.PasswordFor(m => m.OldPassword, new { placeholder = "Current Password", @required  = "required" })</td>
        </tr>
        <tr>
            <td><b>New Password: </b></td>
            <td>@Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password" })</td>
        </tr>
        <tr>
            <td><b>First Name: </b></td>
            <td>@Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })</td>

        </tr>
        <tr>
            <td><b>Last Name: </b></td>
            <td>@Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" })</td>
        </tr>
        <tr>
            <td>
                <b>Allow Email Notifications?</b>
            </td>
            <td>@Html.CheckBoxFor(m => m.AllowEmail) </td>
        </tr>
    </table>
    <div style="float: left; width: 50px">
        <input type="submit" value="Edit" />
    </div>
</form>
<form action='@Url.Action("Cancel", "Home")' method="post">
    <input type="submit" value="Cancel" />
</form>

