﻿@model HangoutApp.Models.DisplayEvent
@{
    ViewBag.Title = "Event";
}

@section scripts
{
    @*
        <script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@{bool admin = false;}
@{HangoutApp.Models.User user = new HangoutApp.Models.User(); }
@{int userID = user.getID(User.Identity.Name);}
@{admin = Model.eventModel.adminID == userID ? true : false; }


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }



        #right-panel i {
            font-size: 12px;
        }

    #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
    }

    body .modal-dialog {
        width: 75%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map, #placeMap {
        height: 100%;
    }

    .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #target {
        width: 345px;
    }
</style>



@if (Model.eventModel.finalized || Model.eventModel.timePassed)
{
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                @if (Model.eventModel.timePassed)
                {
                    <div style="color:red">
                        The date for this event has passed. No further changes can be made.
                    </div>

                }
                else
                {
                    <div style="color:red">
                        This event has been finalized. No further changes can be made
                    </div>
                }

                <hgroup class="title">
                    <h1>@Model.eventModel.Name</h1>
                </hgroup>
                <div class="column" style="width: 700px; float: left">
                    <br /><br /><br /><br />
                    <hr />
                    <label>Description: </label>
                    @Html.DisplayFor(m => m.eventModel.Description)
                    <br />
                    <label>Time: </label>
                    @if (Model.eventModel.Date != null || Model.eventModel.Time != null)
                    {
                        @DateTime.Parse(Model.eventModel.Date + " " + Model.eventModel.Time);
                    }
                    <br />
                    <label>Location: </label>
                    @Html.DisplayFor(m => m.eventModel.Location);
                    <br />
                    <label>Attendees: </label>
                    <ol>
                        @for (int a = 0; a < Model.eventModel.Attendees.Count; a++)
                        {
                            if (String.IsNullOrEmpty(Model.eventModel.Attendees[a].FirstName))
                            {
                                <li>
                                    @Html.DisplayFor(m => Model.eventModel.Attendees[a].Email)
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.DisplayFor(m => Model.eventModel.Attendees[a].FirstName) @Html.DisplayFor(m => Model.eventModel.Attendees[a].LastName)
                                </li>
                            }
                        }
                    </ol>
                    <label>Activities: </label>
                    <ol>
                        @if (Model.eventModel.Activities.Count == 0)
                        {
                            <div>
                                No activities were made for this event
                            </div>
                        }
                        else
                        {
                            for (int a = 0; a < Model.eventModel.Activities.Count; a++)
                            {
                                <li>
                                    <b>@Html.DisplayFor(m => Model.eventModel.Activities[a].Name)</b>
                                    @Html.DisplayFor(m => Model.eventModel.Activities[a].Description)
                                    @Html.DisplayFor(m => Model.eventModel.Activities[a].Location)
                                </li>
                            }
                        }
                    </ol>
                </div>
            </div>
        </section>
    }
}
else
{
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <div style="color:red">
                    @TempData["message"]
                </div>

                <hgroup class="title">
                    <h1>@Model.eventModel.Name</h1>
                </hgroup>
                <div style="color:red">@TempData["Eventmessage"]</div>
                <div class="column" style="width: 700px; float: left">
                    <br /><br /><br /><br />
                    <table>
                        <tr>
                            @if (admin)
                            {
                                <td>
                                    <input id="btnInvite" type="button" value="Invite Friends" data-toggle="modal" data-target="#prevModal" />
                                    <!-- Modal-->
                                    <div class="modal fade" id="prevModal" tabindex="-1" role="dialog" aria-labelledby="prevModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                @Html.Partial("AddFriends", Model)
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            @if (!Model.eventModel.activityApproved)
                            {
                                <td>
                                    <input id="btnSuggest" type="button" value="Suggest an Activity" data-toggle="modal" data-target="#activityModal" />
                                    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                @Html.Partial("SuggestActivity", Model)
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            @if ((Model.eventModel.Time == "" || Model.eventModel.Time == null) || (Model.eventModel.Date == "" || Model.eventModel.Date == "null"))
                            {
                                <td>
                                    <input id="btnVoteTime" type="button" value="Vote for Times" data-toggle="modal" data-target="#voteTModal" />
                                    <div class="modal fade" id="voteTModal" tabindex="-1" role="dialog" aria-labelledby="voteTModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                @Html.Partial("VoteTime")
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td>
                                <input id="btnDeleteActivities" type="button" value="Delete an Activity" data-toggle="modal" data-target="#deleteActivity" />
                                <div class="modal fade" id="deleteActivity" tabindex="-1" role="dialog" aria-labelledby="deleteActivity">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            @Html.Partial("deleteActivity", Model)
                                        </div>
                                    </div>
                                </div>
                            </td>

                            @if (admin)
                            {
                                <td>
                                    <input id="btnDeleteUser" type="button" value="Remove a Friend" data-toggle="modal" data-target="#deleteUser" />
                                    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUser">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                @Html.Partial("deleteUser", Model)
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <p>@Model.eventModel.Description</p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <label>Attendees: </label>
                                <ol>
                                    @for (int a = 0; a < Model.eventModel.Attendees.Count; a++)
                                    {
                                        if (String.IsNullOrEmpty(Model.eventModel.Attendees[a].FirstName))
                                        {
                                            <li>
                                                @Html.DisplayFor(m => Model.eventModel.Attendees[a].Email)
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @Html.DisplayFor(m => Model.eventModel.Attendees[a].FirstName) @Html.DisplayFor(m => Model.eventModel.Attendees[a].LastName)
                                            </li>
                                        }
                                    }
                                </ol>
                            </td>
                        <tr>
                            <td>
                                <label>Activities: </label>
                            </td>
                        </tr>
                        @if (!Model.eventModel.activityApproved)
                        {
                            using (Html.BeginForm("VoteActivity", "Home", FormMethod.Post))

                            {
                                //foreach (var a in Model.eventModel.Activities)
                                for (int i = 0; i < Model.eventModel.Activities.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <button style="height: 75px; width: 450px" disabled>
                                                @Model.eventModel.Activities[i].Name: @Model.eventModel.Activities[i].Description<br />@Model.eventModel.Activities[i].Location
                                            </button>
                                        <td>
                                            @if (Model.eventModel.Activities[i].selected)
                                            {
                                                @Html.CheckBoxFor(m => Model.eventModel.Activities[i].selected, new { @value = true, @checked = "checked" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(m => Model.eventModel.Activities[i].selected, new { @value = true })
                                            }
                                            @Html.HiddenFor(m => Model.eventModel.Activities[i].activityID)
                                            @*<input id="chkActivites" type="checkbox" data-id="@a.getActivityID()" />*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p> </p>
                                        </td>
                                    </tr>

                                }
                                <tr>
                                    <td>
                                        <p> </p>
                                    </td>
                                </tr>
                                <tr>
                                    @Html.HiddenFor(m => m.eventModel.eventID)
                                    @Html.HiddenFor(m => m.eventModel.Date)
                                    @Html.HiddenFor(m => m.eventModel.Description)
                                    @Html.HiddenFor(m => m.eventModel.Attendees)
                                    @Html.HiddenFor(m => m.eventModel.Location)
                                    @Html.HiddenFor(m => m.eventModel.Name)
                                    @Html.HiddenFor(m => m.eventModel.Time)
                                    <td>
                                        @Html.HiddenFor(m => m.activityModel)
                                        <input type="submit" value="Vote Activity" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <ol>
                                        @if (Model.eventModel.Activities.Count == 0)
                                        {
                                            <div>
                                                No activities were made for this event
                                            </div>
                                        }
                                        else
                                        {
                                            for (int a = 0; a < Model.eventModel.Activities.Count; a++)
                                            {
                                                if (Model.eventModel.Activities[a].finalize)
                                                {
                                                    <li>
                                                        <b>@Html.DisplayFor(m => Model.eventModel.Activities[a].Name)</b>
                                                        @Html.DisplayFor(m => Model.eventModel.Activities[a].Description)
                                                        @Html.DisplayFor(m => Model.eventModel.Activities[a].Location)
                                                    </li>
                                                }
                                            }
                                        }
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> </p>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <p> </p>
                            </td>
                        </tr>
                        <tr>
                            @if (Model.eventModel.Date != null || Model.eventModel.Time != null)
                            {
                                <td>
                                    <label>Current Event Time: </label>&nbsp;@DateTime.Parse(Model.eventModel.Date + " " + Model.eventModel.Time)
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>
                                <p> </p>
                            </td>
                        </tr>
                        @if (admin)
                        {
                            using (Html.BeginForm("FinalizeDetails", "Home", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.eventModel.eventID)
                                @Html.HiddenFor(m => m.eventModel.adminID)
                                <tr>
                                    <td>
                                        <input type="button" name="finalizeActBtn" value="Finalize Activity" data-toggle="modal" data-target="#finalizeActivity" />
                                        <div class="modal fade" id="finalizeActivity" tabindex="-1" role="dialog" aria-labelledby="finalizeActivity">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    @Html.Partial("FinalizeActivity", Model)
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p> </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="button" name="finalizeTimeBtn" value="Finalize Time" data-toggle="modal" data-target="#finalizeTime" />
                                        <div class="modal fade" id="finalizeTime" tabindex="-1" role="dialog" aria-labelledby="finalizeTime">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    @Html.Partial("FinalizeTime", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p> </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="button" value="Finalize Event" data-toggle="modal" data-target="#finalizeEvent" />
                                        <div class="modal fade" id="finalizeEvent" tabindex="-1" role="dialog" aria-labelledby="finalizeEvent">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    @Html.Partial("FinalizeEvent", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="btnCancelE" type="button" value="Cancel Event" data-toggle="modal" data-target="#cancelEvent" />
                                        <div class="modal fade" id="cancelEvent" tabindex="-1" role="dialog" aria-labelledby="cancelEvent">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    @Html.Partial("CancelEvent", Model)
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }


                    </table>
                </div>
            </div>
            <script src="~/Scripts/jquery-1.9.1.min.js"></script>
            <script>


                var departureTime;

                /*var requestURL = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&"
                    + "origin=" + origin1 + "&destination=" + destinationA + "&departure_time=1480899600"
                    + "&traffic_model=best_guess" + "&key=AIzaSyCRcZD4SHCodZFgWVX5M7PHPRXFJc8nemU";
                */

                var pMap, map, infowindow, userOrigin, userDestination, eGeocoder, service;

                function initialize() {
                    //Places API

                    var eLoc;
                    var eAdd = @Html.Raw(Json.Encode(Model.eventModel.Location));
                    if(eAdd=="" || eAdd=="test" || eAdd==null){
                        eAdd="Fullerton, CA 92831";
                    }
                    eGeocoder = new google.maps.Geocoder();
                    //find location of event
                    eGeocoder.geocode({ 'address': eAdd }, function (results, status) {
                        console.log(results[0].geometry.location.latitude);
                        var lat = results[0].geometry.location.latitude
                        var long = results[0].geometry.location.longitude;
                        if (status == 'OK') {
                            eLoc = {lat: lat, lng: long};
                        } else {
                            eLoc = { lat: 33.882, lng: -117.886 };
                        }
                    });
                    if (eLoc == null) {
                        eLoc = { lat: 33.882, lng: -117.886 };
                    }
                    pMap = new google.maps.Map(document.getElementById('placeMap'), {
                        center: eLoc,
                        zoom: 13,
                        mapTypeId: 'roadmap'
                    });

                    // Create the search box and link it to the UI element.
                    var input = document.getElementById('pac-input');
                    var searchBox = new google.maps.places.SearchBox(input);
                    pMap.controls[google.maps.ControlPosition.TOP_CENTER].push(input);

                    // Bias the SearchBox results towards current map's viewport.
                    pMap.addListener('bounds_changed', function () {
                        searchBox.setBounds(pMap.getBounds());
                    });

                    var markers = [];
                    // Listen for the event fired when the user selects a prediction and retrieve
                    // more details for that place.
                    searchBox.addListener('places_changed', function () {
                        var places = searchBox.getPlaces();

                        if (places.length == 0) {
                            return;
                        }

                        // Clear out the old markers.
                        markers.forEach(function (marker) {
                            marker.setMap(null);
                        });
                        markers = [];

                        // For each place, get the icon, name and location.
                        var pBounds = new google.maps.LatLngBounds();
                        places.forEach(function (place) {
                            if (!place.geometry) {
                                console.log("Returned place contains no geometry");
                                return;
                            }
                            var icon = {
                                url: place.icon,
                                size: new google.maps.Size(71, 71),
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(17, 34),
                                scaledSize: new google.maps.Size(25, 25)
                            };

                            // Create a marker for each place.
                            markers.push(new google.maps.Marker({
                                map: pMap,
                                icon: icon,
                                title: place.name,
                                position: place.geometry.location
                            }));

                            if (place.geometry.viewport) {
                                // Only geocodes have viewport.
                                pBounds.union(place.geometry.viewport);
                            } else {
                                pBounds.extend(place.geometry.location);
                            }
                        });
                        pMap.fitBounds(pBounds);
                    });

                    //Distance Matrix API
                    var bounds = new google.maps.LatLngBounds;
                    var markersArray = [];
                    var origin = "Orange+CA+92866";
                    var dest = "Tustin+CA+92780";

                    var destinationIcon = 'https://chart.googleapis.com/chart?' +
                       'chst=d_map_pin_letter&chld=D|FF0000|000000';
                    var originIcon = 'https://chart.googleapis.com/chart?' +
                        'chst=d_map_pin_letter&chld=O|FFFF00|000000';
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 33.882, lng: -117.886 },
                        zoom: 4,
                        mapTypeId: 'roadmap'
                    });

                    var onChangeHandler = function(){
                        calculateTime();
                    };
                    document.getElementById('submitAddress').addEventListener('click', onChangeHandler);

                    var geocoder = new google.maps.Geocoder;
                    service = new google.maps.DistanceMatrixService;
                    service.getDistanceMatrix(
                      {
                          origins: [origin],
                          destinations: [dest],
                          travelMode: 'DRIVING'
                      }, function (response, status) {
                          if (status !== 'OK') {
                              alert("Error in: " + status);
                          } else {
                              var originList = response.originAddresses;
                              var destList = response.destinationAddresses;
                              var outputDiv = document.getElementById('output');
                              output.innerHTML = '';
                              deleteMarkers(markersArray);

                              var showGeocodedAddressOnMap = function (asDestination) {
                                  var icon = asDestination ? destinationIcon : originIcon;
                                  return function (results, status) {
                                      if (status === 'OK') {
                                          map.fitBounds(bounds.extend(results[0].geometry.location));
                                          markersArray.push(new google.maps.Marker({
                                              map: map,
                                              position: results[0].geometry.location,
                                              icon: icon
                                          }));
                                      } else {
                                          alert('Geocode was not successful due to: ' + status);
                                      }
                                  };
                              };

                              for (var i = 0; i < originList.length; i++) {
                                  var results = response.rows[i].elements;
                                  geocoder.geocode({ 'address': originList[i] },
                                      showGeocodedAddressOnMap(false));
                                  for (var j = 0; j < results.length; j++) {
                                      geocoder.geocode({ 'address': destList[j] },
                                          showGeocodedAddressOnMap(true));
                                      outputDiv.innerHTML += originList[i] + ' to ' + destList[j] +
                                          ': ' + results[j].distance.text + ' in ' +
                                          results[j].duration.text + '<br>';
                                  }
                              }
                          }
                      });

                }

                function deleteMarkers(markersArray) {
                    for (var i = 0; i < markersArray.length; i++) {
                        markersArray[i].setMap(null);
                    }
                    markersArray = [];
                }
                function callback(results, status) {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        for (var i = 0; i < results.length; i++) {
                            createMarker(results[i]);
                        }
                    }
                }
                function createMarker(place) {
                    var placeLoc = place.geometry.location;
                    var marker = new google.maps.Marker({
                        map: pMap,
                        position: place.geometry.location
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent(place.name);
                        infowindow.open(pMap, this);
                    });
                }
                function determineLocation(place) {
                    var res = place.split("  ");
                    var result = "";
                    for (var i = 0; i < res.length; i++) {
                        result += res[i];
                        result += "+";
                    }
                    result = result.slice(0, -1);
                    return result;
                }
                function codeEventAddress(add) {
                    //gets address of event
                    var eAdd = add;
                    eGeocoder = new google.maps.Geocoder();
                    eGeocoder.geocode({'address': eAdd}, function(results, status){
                        if(status == 'OK'){
                            map.setCenter(results[0].geometry.location);
                            var marker = new googlemaps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });
                            eAdd = results[0].geometry.location;
                        }else{
                            alert('Geocode was not successful for the following reason: '+status);
                        }
                    });
                    return eAdd;
                }
                function calculateTime(){
                    var bounds = new google.maps.LatLngBounds;
                    var markersArray = [];

                    var destinationIcon = 'https://chart.googleapis.com/chart?' +
                       'chst=d_map_pin_letter&chld=D|FF0000|000000';
                    var originIcon = 'https://chart.googleapis.com/chart?' +
                        'chst=d_map_pin_letter&chld=O|FFFF00|000000';
                    var orig = document.getElementById('origAddress').value;
                    var dest = document.getElementById('destAddress').value;
                    var geocoder = new google.maps.Geocoder;
                    service = new google.maps.DistanceMatrixService;
                    service.getDistanceMatrix(
                      {
                          origins: [orig],
                          destinations: [dest],
                          travelMode: 'DRIVING'
                      }, function (response, status) {
                          if (status !== 'OK') {
                              alert("Error in: " + status);
                          } else {
                              var originList = response.originAddresses;
                              var destList = response.destinationAddresses;
                              var outputDiv = document.getElementById('output');
                              output.innerHTML = '';
                              deleteMarkers(markersArray);

                              var showGeocodedAddressOnMap = function (asDestination) {
                                  var icon = asDestination ? destinationIcon : originIcon;
                                  return function (results, status) {
                                      if (status === 'OK') {
                                          map.fitBounds(bounds.extend(results[0].geometry.location));
                                          markersArray.push(new google.maps.Marker({
                                              map: map,
                                              position: results[0].geometry.location,
                                              icon: icon
                                          }));
                                      } else {
                                          alert('Geocode was not successful due to: ' + status);
                                      }
                                  };
                              };


                              for (var i = 0; i < originList.length; i++) {
                                  var results = response.rows[i].elements;
                                  geocoder.geocode({ 'address': originList[i] },
                                      showGeocodedAddressOnMap(false));
                                  for (var j = 0; j < results.length; j++) {
                                      geocoder.geocode({ 'address': destList[j] },
                                          showGeocodedAddressOnMap(true));
                                      outputDiv.innerHTML += originList[i] + ' to ' + destList[j] +
                                          ': ' + results[j].distance.text + ' in ' +
                                          results[j].duration.text + '<br>';
                                  }
                              }
                          }
                      });
                }
                $(document).ready(function () {
                    $("#voteTModal").on('shown.bs.modal', function () {

                        google.maps.event.trigger(map, 'resize');
                    });
                    $("#activityModal").on('shown.bs.modal', function () {

                        google.maps.event.trigger(pMap, 'resize');
                    });
                });

            </script>
            @*
                <script src="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&key=AIzaSyCRcZD4SHCodZFgWVX5M7PHPRXFJc8nemU&callback=initialize" async defer></script>*@

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRcZD4SHCodZFgWVX5M7PHPRXFJc8nemU&libraries=places&callback=initialize"></script>

        </section>


    }
}