﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{int count = Model.eventModel.Activities.Count;}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Finalize Activites</h4>
</div>
<div class="modal-body">
    @if (count > 0)
    {
        for (int i = 0; i < Model.eventModel.Activities.Count; i++)
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.eventModel.Activities[i].Name)
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        Votes: &nbsp;
                        @Html.DisplayFor(model => model.eventModel.Activities[i].Votes)
                        &nbsp;&nbsp;
                    </td>
                    <td>
                        @if (Model.eventModel.Activities[i].selected)
                        {
                            @Html.CheckBoxFor(model => model.eventModel.Activities[i].finalize, new { @value = true, @checked = "checked" })
                        }
                        else
                        {
                            @Html.CheckBoxFor(model => model.eventModel.Activities[i].finalize, new { @value = true })
                        }
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].activityID)
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].Votes)
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].userID)
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].Name)
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].Description)
                        @Html.HiddenFor(m => Model.eventModel.Activities[i].Location)

                    </td>
                </tr>
            </table>
        }
        <div style="color:red">
            <p>
                Warning: Once one or more activities have been finalized, no one can vote for activities or suggest any.
            </p>
            <p>
                You will be able to approve previously selected activites, however.
            </p>
        </div>
    }
    else
    {
        <p>
            No activities have been added yet.
        </p>
    }
</div>
<div class="modal-footer">
    @if (count > 0)
    {
        <button class="btn btn-inverse" name="finalizeBtn" value="finalizeActivity" type="submit">Submit</button>
    }
    <button class="btn btn-inverse" type="submit" data-dismiss="modal">Close</button>
</div>

