﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{int count = Model.eventModel.Activities.Count;}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Finalize Event</h4>
</div>
<div class="modal-body">
    <div style="color:red">
        <p>
            Are you sure? Once an event has been finalized, it cannot be undone.
        </p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-inverse" name="finalizeBtn" value="Finalize Event" type="submit">Submit</button>
    <button type="submit" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>
