﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Finalize Times</h4>
</div>
<hr />
<div class="modal-body">
    @if (Model.suggestedTimes != null)
    {
        <label>There are currently @Model.suggestedTimes.Count suggested times:</label>
        <ol>

            @for (int t = 0; t < Model.suggestedTimes.Count; t++)
            {
                    <li>
                        @Html.DisplayFor(m => m.suggestedTimes[t].suggestedDate)
                        @Html.DisplayFor(m => m.suggestedTimes[t].suggestedTime)
                    </li>
            }
        </ol>
    }
    else
    {
        <label>There are no times available to see</label>
    }
    <hr />
    <table>
        <tr>
        <tr>
            <td>Enter a date:</td>
            <td>@Html.TextBoxFor(m => m.eventModel.Date, new {  @type= "date" })</td>
        </tr>
        <tr>
            <td>Time of the event:</td>
            <td>@Html.TextBoxFor(m => m.eventModel.Time, new {  @type = "time" })</td>
        </tr>
    </table>
    <div style="color:red">
        <p>
            Warning: Once a time has been finalized, no one can vote for times anymore.
        </p>
        <p>
            You will be able to approve a different time, however.
        </p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-inverse" name="finalizeBtn" value="finalizeTime" type="submit">Submit</button>
</div>
