﻿@{
    ViewBag.Title = "Welcome to the Hangout";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            
            <p>
                To get started, please log in to your account or register if you do not have account.
            </p>
          
        </div>
    </section>
}
