﻿@model IEnumerable<HangoutApp.Models.Event>
@{
    ViewBag.Title = "MyEvents";
}

<h2>My Events</h2>

<div>
    @foreach (var m in Model)
    {
        <div>
            <h3>@m.Name</h3>
            <p>Date: @m.Date</p>
            <p>Time: @m.Time</p>
            <p>Location: @m.Location</p>
           
            @if (m.Attendees == null)
            {
                 <p>Current # of Attendees: 1</p>
            }else{
            <p>Current # of Attendees: 
                @m.Attendees.Count;
            </p>
            }
        </div>
        <br />
    }

</div>
