﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{int count = Model.userModels.Count;}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Invite Friend from Previous Event</h4>
</div>
<hr />
<div>

    @if (count > 0)
    {

        <div class="modal-body">
            <table>
                @for (int i = 0; i < Model.userModels.Count; i++)
                {

                    <tr>
                        <td>
                            <div hidden="hidden">
                               @Html.EditorFor(m => m.userModels[i].Email)
                            </div>
                            Emails: @Html.DisplayFor(model => model.userModels[i].Email)
                        </td>
                        @if (!String.IsNullOrEmpty(Model.userModels[i].FirstName))
                        {
                            <td>
                                Name: @Html.DisplayFor(m => m.userModels[i].FirstName)
                                @Html.DisplayFor(m => m.userModels[i].LastName)
                            </td>
                        }
                        <td>
                            @Html.CheckBoxFor(m => m.userModels[i].selected)
                        </td>

                    </tr>


                }
            </table>
        </div>
            <div class="modal-footer">
                <button class="btn btn-inverse" name="submitBtn" type="submit" value="AddPastFriendsAtEvent">Submit</button>
            </div>

    }
    else
    {
        <div class="modal-body">
            <p>
                You do not have any friends from previous events.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" type="submit">Close</button>
        </div>

    }

</div>
