﻿@model HangoutApp.Models.Screen
@{
    ViewBag.Title = "Screen";
}
<style>
    input[type=radio] {
        padding:0px 5px 0px 5px;
        width:5%;
    }
</style>
<h2>Before we continue....</h2>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
@TempData["message"]
<form action="@Url.Action("CheckUser", "Home")" method="post">
    <label>Do you have an account with us?</label>
    @Html.RadioButtonFor(m =>m.isUser, "true")Yes
    @Html.RadioButtonFor(m => m.isUser, "false")No 
    
    <label>If you have an account with us, please type your email below:</label>
    @Html.TextBoxFor(m => m.UserName)

    @Html.HiddenFor(m => m.eventID, new{Value = Model.eventID})
    <button type="submit">Submit</button>
</form>
<script>
    $('input[type=radio]').click(function () {
        if ($(this).val() == "true") {
            $("#UserName").attr("required", "required");
        } else {
            $("#UserName").removeAttr("required");
        }
    });
</script>
