﻿@model HangoutApp.Models.DisplayEvent

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{int count = Model.eventModel.Activities.Count;}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="lblSuggest">Suggest an Activity</h4>
</div>

<div class="modal-body">
    Please use the following map to assist you to find locations for activities. Hover over icons to view names of locations
    <input id="pac-input" class="controls" type="text" placeholder="Search" />
    <div id="placeMap" style="min-height: 200px;">
    
    </div>

    @if (count < 20)
    {

        <form action='@Url.Action("AddActivity", "Home")' method="post">
            <div class="modal-body">
                @Html.HiddenFor(model => model.eventModel.eventID)
                <p>
                    Name: @Html.TextBoxFor(model => model.activityModel.Name)
                </p>
                <p>
                    Description: @Html.TextBoxFor(model => model.activityModel.Description)
                </p>
                <p>
                    Location: @Html.TextBoxFor(model => model.activityModel.Location)
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-inverse" type="submit">Save</button>
                <button type="submit" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </form>
    }
    else
    {
        <div class="modal-body">
            <p>
                Oops! It looks like there are too many activities suggested for this event.
            </p>
            <p>
                If you haven't suggested any activities, contact your event admin.
                If you have, consider removing them before suggesting any others.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true" type="submit">Close</button>
        </div>
    }
</div>

