﻿@model HangoutApp.Models.DisplayEvent
@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

}

@{HangoutApp.Models.User user = new HangoutApp.Models.User(); }
@{int userID = user.getID(User.Identity.Name);}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
       #map {
        height: 100%;
        width: 50%;
    }

    #right-panel {
        float: right;
        width: 48%;
        padding-left: 2%;
    }

    #output {
        font-size: 11px;
    }
</style>
@using(Html.BeginForm("VoteForTime","Home", FormMethod.Post)){
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" >Vote For Event Time</h4>
</div>
<div class="modal-body">
    Please feel free to use the following map to help determine how long it would take to get to the event
    
    <div id="right-panel">
            <div id="inputs">
            </div>
            <div class="input-group">
                <input type="text" id="origAddress" placeholder="Origin Address" style="width:200px; margin-top:10px;"/>
                <br />
                <input type="text" id="destAddress" placeholder ="Destination Address" style="width:200px; margin-top:10px;"/>
                <br /><br />
               <button type="button" id="submitAddress">Check Distance and Time</button>
                <br />
                
            </div>
        <strong>Results</strong>
            <div id="output"></div>
        </div>
     
        <div id="map" style="min-height:400px;"></div>
    @if(Model.suggestedTimes!=null && Model.eventModel.UserHasSuggestedTime(userID, Model.suggestedTimes)){
        <label>Suggested Times:</label>
        <ol>

        @for(int t = 0; t<Model.suggestedTimes.Count;t++)
        {
            if (Model.suggestedTimes[t].userID == userID)
            {
            <li>
                @Html.DisplayFor(m => m.suggestedTimes[t].suggestedDate)
                @Html.DisplayFor(m => m.suggestedTimes[t].suggestedTime)
            </li>
            }
        }
            </ol>
    }else{
        <label>You have not suggested a time. Please suggest a time below</label>
    }
    <hr />
    <label> Want to suggest a new time? Suggest Below:</label>
    @Html.TextBoxFor(m => m.eventModel.suggestedTime, new { type = "time" })
    @Html.TextBoxFor(m => m.eventModel.suggestedDate, new { type = "date"})
                    @Html.HiddenFor(m => m.eventModel.eventID)
                    @Html.HiddenFor(m => m.eventModel.Date)
                    @Html.HiddenFor(m => m.eventModel.Description)
                    @Html.HiddenFor(m => m.eventModel.Attendees)
                    @Html.HiddenFor(m => m.eventModel.Location)
                    @Html.HiddenFor(m => m.eventModel.Name)
                    @Html.HiddenFor(m => m.eventModel.Time)
                    @Html.HiddenFor(m => m.activityModel)
    
</div>
    <div class="modal-footer">
        <button type="submit">Submit</button> 
    </div>
}

