﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <style>
        #mapDiv img {
            max-width: none !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Hangout", "Index", "Home")</p>
            </div>
            <div class="float-right">
              @*  <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>*@
                <br />
                @if (Request.IsAuthenticated)
                {
                    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "EditAccount", "Home", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("My Dashboard", "Dashboard", "Home")</li>
                        </ul>
                    </nav>
                }
                else
                {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </header>
    <br />
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Hangout App</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    @*<script async defer src="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&key=AIzaSyCRcZD4SHCodZFgWVX5M7PHPRXFJc8nemU&callback=initialize"></script>*@
    

    <script type="text/javascript">

    </script>
    @*
         <script type="text/javascript">

        $(document).ready(function () {
          initialize();
        });
        function initialize() {
          var mapOptions = {
            center: new google.maps.LatLng(6.9167, 79.8473),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
          // create a marker
          var latlng = new google.maps.LatLng(6.9167, 79.8473);
          var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'My Place'
          });
        }
         </script>
    *@
</body>


</html>
