﻿@model HangoutApp.Models.DisplayEvent
@{
    ViewBag.Title = "Event";
}

@section scripts
{
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
}


<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Model.eventModel.Name</h1>
        </hgroup>
        <table>
            <tr>
                <td>
                    <input id="btnInvite" type="button" value="Invite Friends" data-toggle="modal" data-target="#prevModal" />
                    <!-- Modal-->
                    <div class="modal fade" id="prevModal" tabindex="-1" role="dialog" aria-labelledby="prevModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                @Html.Partial("PastFriends")
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <input id="btnSuggest" type="button" value="Suggest an Activity" data-toggle="modal" data-target="#activityModal" />
                    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                @Html.Partial("SuggestActivity", Model)
                            </div>
                        </div>
                    </div> 

                </td>
                <td>
                    <input id="btnVoteTime" type="button" value="Vote for Times" data-toggle="modal" data-target="#voteTModal" />
                    <div class="modal fade" id="voteTModal" tabindex="-1" role="dialog" aria-labelledby="voteTModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                @*@Html.Partial("VoteTime")*@
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <p>@Model.eventModel.Description</p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <input id="btnVoteA" type="button" value="Vote for Activities" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Activities: </label>
                </td>
            </tr>
            @foreach (var a in Model.eventModel.Activities)
                {
                  <tr>
                       <td>
                           @a.Name
                        </td>
                        <td>
                            @a.Description
                        </td>
                        <td>
                            @a.Location
                        </td>
                       <td>
                           <input id="chkActivites" type="checkbox" data-id="@a.getActivityID()" />
                       </td>
                </tr>
               }
            <tr>
                <td>
                    <input id="btnFinalizeA" type="button" value="Finalize Activity" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Time: </label>
                </td>
                <td>
                    <label id="lblTime">Times Go Here</label>
                </td>
                <td>
                    <input id="chkTime" type="checkbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="btnFinalizeT" type="button" value="Finalize Time" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="btnFinalizeE" type="button" value="Finalize Event" />
                </td>
            </tr>
        </table>
    </div>
</section>
